Timetabler.Web/Service References/EventService/EventsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62132/EventsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Timetabler.Entitities" />
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Timetabler.Entitities" minOccurs="0" name="GetEventsResult" nillable="true" type="q1:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>